.sizes
  position absolute
  bottom 20%
  left 0
  right 0

.size
  float left
  width 33%
  &.selected 
    font-size 30px
    span
      color #d72228
      border 10px solid white
  span
    display block
    width 60px
    height 60px
    border-radius 50%
    background white
    color #cccccc
    margin auto
    line-height 60px
    transition all cubic-bezier(.87,-.41,.19,1.44) 0.3s
    transform-origin 50%
    border 10px solid #0074ae


