.pizza
  width 300px
  height 300px
  position relative
  margin auto
  top 50px
  transition all cubic-bezier(.87,-.41,.19,1.44) 0.3s
  transform-origin: 50%


  &.s
    transform scale(0.6,0.6)

  &.m
    transform scale(0.8, 0.8)
    


.crust
  position absolute
  width 100%
  height 100%
  background #e7a541
  border-radius 50%
  top 0px
  left 0px

.sauce
  position absolute
  width 92%
  height 92%
  background #de5a32
  border-radius 50%
  top 4%
  left 4%
  z-index 20

.main
  position absolute
  width 90%
  height 90%
  background #ffce4a
  border-radius 50%
  top 5%
  left 5%
  z-index 30
  transform rotate(45deg) 

.slice
  position absolute
  width 100%
  top 50%
  height 1px
  background #f8bc34 
  z-index 200
  transform-origin: 50%
  transition all linear 0.3s

.top
  position relative
  width 100%
  height 50%

.bottom 
  position relative
  width 100%
  height 50%
  margin-top -10px
  margin-left -5px
  transform rotate(180deg)
  z-index 1000

.topping    
    width 125%
    height 125%
    left -12%
    top -8%
    position absolute
    background-size 100%
    transform: scale(0.8,0.8)
    transition all cubic-bezier(.87,-.41,.19,1.44) 0.3s
    opacity 0

    &.active
        opacity 1
        transform: scale(1.0,1.0)

.pepperoni-topping
    z-index 2000
    background-image: url('../../img/topping-pepperoni.png');

.onion-topping
    z-index 2000
    background-image: url('../../img/topping-onion.png');

.olive-topping
    z-index 2000
    background-image: url('../../img/topping-olives.png');

.pepper-topping
    z-index 2000
    background-image: url('../../img/topping-pepper.png');

.mushroom-topping
    z-index 2000
    background-image: url('../../img/topping-mushroom.png');

.bacon-topping
    z-index 2000
    background-image: url('../../img/topping-bacon.png');