.pizza
  width 300px
  height 300px
  position relative
  margin auto
  top 50px
  transition all cubic-bezier(.87,-.41,.19,1.44) 0.3s
  transform-origin: 50%


  &.s
    transform scale(0.6,0.6)

  &.m
    transform scale(0.8, 0.8)


.crust
  position absolute
  width 100%
  height 100%
  background #e7a541
  border-radius 50%
  top 0px
  left 0px

.sauce
  position absolute
  width 92%
  height 92%
  background #de5a32
  border-radius 50%
  top 4%
  left 4%
  z-index 20

.main
  position absolute
  width 90%
  height 90%
  background #ffce4a
  border-radius 50%
  top 5%
  left 5%
  z-index 30
  transform rotate(45deg) 

.slice
  position absolute
  width 100%
  top 50%
  height 1px
  background #f8bc34 
  z-index 200
  transform-origin: 50%
  transition all linear 0.3s

.top
  position relative
  width 100%
  height 50%

.bottom 
  position relative
  width 100%
  height 50%
  margin-top -10px
  margin-left -5px
  transform rotate(180deg)
  z-index 1000

.pepperoni
  position absolute
  width 20px
  height 20px
  border-radius 50%
  background #de5a32
  left 40px
  top 60px
  z-index 1000

.pepperoni:nth-child(2)
    left 50px
    top 100px
  
.pepperoni:nth-child(3)
    left 80px
    top 20px

.pepperoni:nth-child(4)
    left 110px
    top 50px

.pepperoni:nth-child(5)
    left 90px
    top 90px

.pepperoni:nth-child(6)
    left 130px
    top 90px

.pepperoni:nth-child(7)
  left 150px
  top 30px

.pepperoni:nth-child(8)
    left 185px
    top 50px

.pepperoni:nth-child(9)
    left 210px
    top 90px
  
.pepperoni:nth-child(10)
    left 175px
    top 85px

  
.pepperoni:nth-child(11)
    left 10px
    top 95px

.onion
  position absolute
  width 5px
  height 10px
  background purple
  left 40px
  top 60px
  z-index 1000
  margin-left 20px
  margin-top 20px

.onion:nth-child(2)
    left 50px
    top 100px
  
.onion:nth-child(3)
    left 80px
    top 20px

.onion:nth-child(4)
    left 110px
    top 50px

.onion:nth-child(5)
    left 90px
    top 90px

.onion:nth-child(6)
    left 130px
    top 90px

.onion:nth-child(7)
  left 150px
  top 30px

.onion:nth-child(8)
    left 185px
    top 50px

.onion:nth-child(9)
    left 210px
    top 90px
  
.onion:nth-child(10)
    left 175px
    top 85px
 
.onion:nth-child(11)
    left 10px
    top 95px
