.container 
  width 375px
  height 667px
  position fixed
  margin auto
  top 50%
  margin-top -333px
  left 50%
  margin-left -187px
  background #0074ae
  border-radius 10px
  overflow hidden
  text-align center
  color white

  &.open
    .payment 
      height 300px

    .box-container
      width 150px
      height 150px

    .pay-now-btn
      display: none
    .total-due-label 
      display none
    
    .header
      transform scale(0,0)

    .box-container
      margin-top 20px  

  &.card-selected
    .select-card-label
      display none
    .card-container
      width 50% 
      height 100%
    .card
      width 100%
      height 100%
      border-radius 0
      background: #76b852
      .card-chip
        display none
      .card-number
        top 75%
      .card-name
        bottom 10%
      .expiration-container
        display none
    .loader-container
      width 10.3em
      height 10.3em
      overflow none
    .payment-status
      display block

  &.payment-success 
    .checkmark-container
      transform scale(1,1)


.header
  transtion all 0.2s ease-in    

.pay-due-container 
  width 100%
  color white
  text-align center
  text-transform uppercase
  font-size 12px
  margin-top 40px

.pay-due 
  font-size 30px

