.container 
  width 375px
  height 667px
  position fixed
  margin auto
  top 50%
  margin-top -333px
  left 50%
  margin-left -187px
  background #0074ae
  border-radius 10px
  overflow hidden
  text-align center
  color white

.serving-amount
  position absolute
  bottom 70px
  left 0px
  width 100%
  text-align center